# Environment variables
.env

# Dependencies
/vendor

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
/logs/*
!/logs/.gitkeep
.firebase/logs/*
*.log

# Cache
/cache/*
!/cache/.gitkeep
